<!-- source: https://bootsnipp.com/snippets/featured/responsive-navigation-menu -->
<div class="nav-side-menu">
  <div class="brand">Light ZKUI</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li [ngClass]="{'active': choose===0}">
        <a [routerLink]="['/stats']">
          <i class="fa fa-dashboard fa-lg"></i> Stats
        </a>
      </li>
      <li [ngClass]="{'active': choose===1}">
        <a [routerLink]="['/znodes']">
          <i class="fa fa-database fa-lg"></i> ZNodes
        </a>
      </li>
      <li [ngClass]="{'active': choose===2}">
        <a [routerLink]="['/profile']">
          <i class="fa fa-cog fa-lg"></i> Settings
        </a>
      </li>
      <li [ngClass]="{'active': choose===3}">
        <a [routerLink]="['/about']">
          <i class="fa fa-info-circle fa-lg"></i> About
        </a>
      </li>
    </ul>
  </div>
</div>
